<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Title</h1>
      <form method="post" action="/categories/add">
        <div class="form-group">
          <h3>Title</h3>
          <input type="text" name="title" class="form-control">
        </div>	
        <div class="form-group">
          <h3>Description</h3>
          <input type="textarea" name="description" class="form-control">
        </div>	
      </form>
      <input type="submit" name="submit" value="Save">
      <a href="/manage/categories">Back</a> 
    </div>
  </div>
</div>